
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background: rebeccapurple;
    color: white;
}
#boxes {
    content: "";
    display: table;
    clear: both;
    width:100%;
    background-color: lavenderblush;
  }
  div {
    float: left;
    height:500px;
    width: 30%;
    padding: 0 10px;
  }
  #box1 {
    background-color: #a1edcc;
  }
  #box2 {
    background-color: #a0e9ed;
  }
  #box3 {
    background-color: #f497f1;
  }
  #selected {
    margin:auto;
    width: 50%;
  }
 